
.jacket-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    width: 100%;
    padding: 40px 0;
}

.jacket-group {
    border: 3px solid #ffffff;
    background-color: #E1E6DB;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.jacket-group img {
    width: 90%;
    height: auto;
    background-color: #ffffff;
    padding: 2vw;
    border-radius: 1vw;
    box-sizing: border-box;
}

.jacket-group p {
    background-color: #E1E6DB;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.4vw;
    font-style: italic;
    font-weight: 300;
    line-height: 1.3;
    margin: 0;
}

@media (max-width: 900px) {

    .jacket-grid {
        grid-template-columns: 1fr;
    }

    .jacket-group p {
        font-size: 4vw;
    }
}

.warmth-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    gap: 0;
    padding: 40px 0;
}

.warmth-text {
    background-color: #ffffff;
    border: 3px solid #ffffff;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}


.warmth-text h1 {
    font-size: 5vw;
    font-style: italic;
    font-weight: 300;
    line-height: 1.1;
    margin: 0;
}


.warmth-image {
    border: 3px solid #ffffff;
    background-color: #ffffff;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.warmth-image img {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 1vw;
    border-radius: 0.5vw;
    box-sizing: border-box;
}


@media (max-width: 900px) {
    .warmth-row {
        grid-template-columns: 1fr;
    }

    .warmth-text h1 {
        font-size: 8vw;
    }

    .warmth-image img {
        width: 50%;
    }
}
