
.error-bonk {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-bonk img {
    max-width: 90vw;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
