.payment-shipping-wrapper {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    margin: 40px auto;
}
.card-details,
.shipping-box {
    width: 40%;
    aspect-ratio: 1 / 1;
    background: #E1E6DB;
    padding: 25px;
    border-radius: 12px;
    box-sizing: border-box;
    overflow-y: auto;
}
.card-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.card-top-row h2 {
    font-size: 28px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}
.hide-info {
    font-size: 40px;
    cursor: pointer;
    color: #444;
}
.card-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
}
.card-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.detail-box {
    background: #E1E6DB;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}
.detail-box .label {
    font-size: 25px;
    color: #555;
    margin: 0 0 2px 0;         
}
.detail-box .value {
    font-size: 25px;
    font-weight: bold;
    margin: 0;                 
}
.copy-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
}
.shipping-box h2 {
    font-size: 28px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
}
.shipping-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 15px;
}
.ship-label {
    font-size: 40px;
    margin: 0;
    padding-top: 5px;
    color: #444;
}
.ship-input {
    background: #D9D9D9;
    border: none;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    font-size: 40px;
}
.click-wrapper {
    display: block;
    text-decoration: none;
    color: inherit;
}

@media (max-width: 900px) {
    .payment-shipping-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .card-details,
    .shipping-box {
        width: 90%;
        aspect-ratio: auto;
    }
}
.continue-link {
    display: block;
    text-align: center;
    margin-top: 30px;
}

.continue-button {
    display: inline-block;
    background: #E1E6DB;
    padding: 20px 30px;
    border-radius: 15px;
}